<!DOCTYPE html>
<html>
<head>
	<title>vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
	<div id="app">{{message}}</div>
	<div id="app-2"><span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息</span></div>
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<div id='app-6'>
		<p>{{message}}</p>
		<input v-model='message'>
	</div>
	<div id="app-7">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		</ol>
	</div>
	<div id='app-8'>
		<p>{{foo}}</p>
		<button v-on:click="foo='baz'">change it</button>		
	</div>
	<div id='app-9'>
		<p>Original message:'{{message}}'</p>
		<p>Computed reversed message:'{{reversedMessage}}'</p>
	</div>
	<div id='app-10'>
		<p>
			Ask a yes/no question
			<input v-model="question">
		</p>
		<p>{{answer}}</p>
	</div>
</body>
<script>
	var app = new Vue({
		el:'#app',
		data:{
			message:'Hello Vue!'
		}
	});
	var app2 = new Vue({
		el:'#app-2',
		data:{
			message:'页面加载于' + new Date().toLocaleString()
		}
	});
	var app3 = new Vue({
		el:'#app-3',
		data:{
			seen:true
		}
	});
	var app4 = new Vue({
		el:'#app-4',
		data:{
			todos:[
				{text:'学习java script'},
				{text:'学习 Vue'},
				{text:'整个牛项目'}
			]
		}
	});
	var app5 = new Vue({
		el:'#app-5',
		data:{
			message:'hello vue.js!'
		},
		methods:{
			reverseMessage:function(){
				this.message = this.message.split(' ').reverse().join(' ')
			}
		}
	});
	var app6 = new Vue({
		el:'#app-6',
		data:{
			message:'hello vue!'
		}
	});
	Vue.component('todo-item',{
		props:["todo"],
		template:'<li>{{todo.text}}</li>'
	});
	var app7 = new Vue({
		el:'#app-7',
		data:{
			groceryList:[
			{id:0,text:'蔬菜'},
			{id:1,text:'奶酪'},
			{id:2,text:'随便什么'}
			]
		}
	});
	var obj = {
		foo:'bar'
	}
	Object.freeze(obj);
	new Vue({
		el:'#app-8',
		data:obj
	});
	var vm = new Vue({
		el:'#app-9',
		data:{
			message:"Hello"
		},
		computed:{
			reversedMessage:function(){
				return this.message.split('').reverse().join('');
			}
		}
	});
	var app10 = new Vue({
		el:'#app-10',
		data:{
			question:'',
			answer:'I cannot give you an answer until you ask a question'
		},
		watch:{
			question:function(oldQuestion,newQuestion){
				this.answer = "waiting for you to stop typing...";
				this.getAnswer();
			}
		},
		methods:{
			getAnswer:_.debounce(function(){
				if(this.question.indexOf("?")=== -1){
					this.answer = 'Question usually contain a question mark.:)';
					return
				}
				this. answer = 'Thinking...';
				var vm = this;
				axios.get('https://yesno.wtf/api').then(function(response){vm.answer = _.capitalize(response.data.answer)}).catch(function(error){
					vm.anwer = 'Error! Could not reach the API'+ error;
				})
			} , 500)
		}
	});
</script>
</html>